# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/myapp/frontend/node_modules
/myapp/frontend/localhost+2-key.pem
/myapp/frontend/localhost+2.pem
/myapp/frontend/.pnp
/myapp/frontend.pnp.*
/myapp/frontend.yarn/*
/myapp/frontend!.yarn/patches
/myapp/frontend!.yarn/plugins
/myapp/frontend!.yarn/releases
/myapp/frontend!.yarn/versions

# testing
/myapp/frontend/coverage

# next.js
/myapp/frontend/.next/
/myapp/frontend/out/

# production
/myapp/frontend/build

# misc
/myapp/frontend.DS_Store
/myapp/frontend*.pem

# debug
/myapp/frontendnpm-debug.log*
/myapp/frontendyarn-debug.log*
/myapp/frontendyarn-error.log*
/myapp/frontend.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/myapp/frontend.env*

# vercel
/myapp/frontend.vercel

# typescript
/myapp/frontend*.tsbuildinfo
/myapp/frontendnext-env.d.ts

# === GLOBAL ===
.DS_Store

# keys
myapp/backend/src/main/resources/keystore.p12

myapp/backend/HELP.md
myapp/backend/target/
myapp/backend/.mvn/wrapper/maven-wrapper.jar
myapp/backend/!**/src/main/**/target/
myapp/backend/!**/src/test/**/target/

### STS ###
myapp/backend/.apt_generated
myapp/backend/.classpath
myapp/backend/.factorypath
myapp/backend/.project
myapp/backend/.settings
myapp/backend/.springBeans
myapp/backend/.sts4-cache

### IntelliJ IDEA ###
myapp/backend/.idea
myapp/backend/*.iws
myapp/backend/*.iml
myapp/backend/*.ipr

### NetBeans ###
myapp/backend/nbproject/private/
myapp/backend/nbbuild/
myapp/backend/dist/
myapp/backend/nbdist/
myapp/backend/.nb-gradle/
myapp/backend/build/
myapp/backend/!**/src/main/**/build/
myapp/backend/!**/src/test/**/build/

### VS Code ###
myapp/backend/.vscode/
