# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/myapp/myfrontend/node_modules
/myapp/myfrontend/.pnp
/myapp/myfrontend.pnp.*
/myapp/myfrontend.yarn/*
/myapp/myfrontend!.yarn/patches
/myapp/myfrontend!.yarn/plugins
/myapp/myfrontend!.yarn/releases
/myapp/myfrontend!.yarn/versions

# testing
/myapp/myfrontend/coverage

# next.js
/myapp/myfrontend/.next/
/myapp/myfrontend/out/

# production
/myapp/myfrontend/build

# misc
/myapp/myfrontend.DS_Store
/myapp/myfrontend*.pem

# debug
/myapp/myfrontendnpm-debug.log*
/myapp/myfrontendyarn-debug.log*
/myapp/myfrontendyarn-error.log*
/myapp/myfrontend.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/myapp/myfrontend.env*

# vercel
/myapp/myfrontend.vercel

# typescript
/myapp/myfrontend*.tsbuildinfo
/myapp/myfrontendnext-env.d.ts

# === GLOBAL ===
.DS_Store